.container-fluid{
  background: #000;

}
.box{
  background: #019FE8;
  display: inline-block;
}
.box-title{
  background: white;
  height: 15vh;
  padding: 0 20px;
}
.box-title h2 {
  line-height: 15vh;
  color: #3B3A38;
  margin: 0;
}
.box-bianhao .text-center{
  color: white;
}

.box-qrcode{
  margin-top: 10vh;
  padding: 20px 50px;
}
.box-qrcode-canvas{
  margin: 0 auto;
}
.box-footer h2{
  color: white;
}
.btn-box{
  display: inline-block;
}



