
.pagination > li > a {
  background-color: #d9dcde;
  margin-right: 1vw;
  border: 1px solid #f1f1f1;
  color: #333333;
}
.pagination > li > a:hover{
  background-color: #048992;
}
.pagination > li > a > input{
  width: 3.5vw;
}
