<div class="container-fluid">
  <div class="login">
    <div class="login-box text-center">
      <p>欢迎登陆旅游管理系统</p>
      <form class="form-horizontal" [formGroup]="myFromModule" (submit)="onLoginSubmit()" >
        <div class="form-group has-error" [ngClass]="{'has-error': usernameForm.invalid && (usernameForm.dirty || usernameForm.touched)}">
          <label for="username" class="col-sm-2 control-label">
            <i class="fa fa-user"></i>
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="请输入账号" formControlName="username">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">
            <i class="fa fa-lock"></i>
          </label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="请输入密码" formControlName="password">
          </div>
        </div>
        <!--登陆-->
        <div class="form-group">
          <div class="btn-login">
            <button type="submit" class="btn btn-danger btn-block">登录</button>
          </div>
        </div>
      </form>
      <h4 class="text-center">贵州松林科技有限公司</h4>
    </div>
  </div>
  <div class="login-footer text-center">
    <span>联系电话：1234567890</span>
    <span>邮箱：hongniao@thinkjoy.cn</span>
    <span>copynight@2018</span>
  </div>
</div>
