<div class="productionline">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">人员管理</div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openProLineAdd(add)">
          <span class="glyphicon glyphicon-plus"></span>增加
        </button>
        <button type="button" class="btn btn-default" (click)="openProLine(modify)">
          <span class="glyphicon glyphicon-pencil"></span>修改
        </button>
        <button type="button" class="btn btn-default" (click)="deleteProLine()">
          <span class="glyphicon glyphicon-trash"></span>删除
        </button>
        <button type="button" class="btn btn-default" (click)="importClick(uploadfile)">
          <span class="glyphicon glyphicon-search"></span>导入excel表
        </button>
        <button type="button" class="btn btn-default" (click)="exportClick()">
          <span class="glyphicon glyphicon-search"></span>导出excel表
        </button>
        <div class="form-group" [hidden]="true">
          <label for="uploadfile">文件</label>
          <input #uploadfile type="file" id="uploadfile" name="uploadfile" (change)="selectedFileOnChanged($event)">
        </div>
        <!--<input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />-->
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered" id="mytable">
          <thead>
          <tr>
            <th class="checkboxoption">
              <input type="checkbox" (click)="getAllCheckBoxStatus($event)">选中/未选中
            </th>
            <th>编号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>报名人次</th>
            <th>身份证号</th>
            <th>扫描时间</th>
            <th>备注</th>
            <th>生成二维码</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let proline of ProductionLines; let i = index">
            <td><input type="checkbox" checked="{{checked}}" (click)="getCheckBoxStatus($event, i)"></td>
            <td>{{proline['number']}}</td>
            <td>{{proline['name']}}</td>
            <td>{{proline['phone']}}</td>
            <td>{{proline['num']}}</td>
            <td>{{proline['card']}}</td>
            <td>{{proline['time']| date:'yyyy-MM-dd'}} </td>
            <td>{{proline['remark']}}</td>
            <td>
              <button class="btn btn-danger" (click)="onQrcode(proline.id,proline.number)">点击生成二维码</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="pagination">
          <ul class="pagination">
            <li><a (click)="firstPage()">首页</a></li>
            <li><a (click)="previousPage()">上一页</a></li>
            <li><a (click)="nextPage()">下一页</a></li>
            <li><a (click)="lastPage()">尾页</a></li>
            <li><a>{{nowPage}}/{{num}}</a></li>
            <li><a>跳转到: &nbsp;<input type="number" name="skpPage"  class="skip-input" [(ngModel)]="skpPage" (keydown)="appointPage($event)">页</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

<!--增加人员模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">人员增加</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="prolineAddForm">
      <div class="form-group" [ngClass]="{'has-error': prolineAddForm.get('number').invalid && (prolineAddForm.get('number').dirty || prolineAddForm.get('number').touched)}">
        <label for="addNumber">编号:</label>
        <input type="text" class="form-control" formControlName="number" id="addNumber">
        <div class="text-danger" *ngIf="prolineAddForm.get('number').invalid && (prolineAddForm.get('number').dirty || prolineAddForm.get('number').touched)">
          <span *ngIf="prolineAddForm.get('number').errors?.required">编号为必填项</span>
          <span *ngIf="prolineAddForm.get('number').errors?.number">编号只能输入数字</span>
          <span *ngIf="prolineAddForm.get('number').errors?.rangeLength">编号长度为5位</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': prolineAddForm.get('name').invalid && (prolineAddForm.get('name').dirty || prolineAddForm.get('name').touched)}">
        <label for="addName">姓名:</label>
        <input type="text" class="form-control" formControlName="name" id="addName">
        <div class="text-danger" *ngIf="prolineAddForm.get('name').invalid && (prolineAddForm.get('name').dirty || prolineAddForm.get('name').touched)">
          <span *ngIf="prolineAddForm.get('name').errors?.required">姓名为必填项</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': prolineAddForm.get('phone').invalid && (prolineAddForm.get('phone').dirty || prolineAddForm.get('phone').touched)}">
        <label for="addPhone">电话:</label>
        <input type="text" class="form-control" formControlName="phone" id="addPhone">
        <div class="text-danger" *ngIf="prolineAddForm.get('phone').invalid && (prolineAddForm.get('phone').dirty || prolineAddForm.get('phone').touched)">
          <span *ngIf="prolineAddForm.get('phone').errors?.required">编号为必填项</span>
          <span *ngIf="prolineAddForm.get('phone').errors?.number">手机号码为数字</span>
          <span *ngIf="prolineAddForm.get('phone').errors?.rangeLength">手机号码为11位</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': prolineAddForm.get('card').invalid && (prolineAddForm.get('card').dirty || prolineAddForm.get('card').touched)}">
        <label for="addCard">身份证:</label>
        <input type="text" class="form-control" formControlName="card" name="card" id="addCard">
        <div class="text-danger" *ngIf="prolineAddForm.get('card').invalid && (prolineAddForm.get('card').dirty || prolineAddForm.get('card').touched)">
          <span *ngIf="prolineAddForm.get('card').errors?.required">身份证号为必填项</span>
          <span *ngIf="prolineAddForm.get('card').errors?.rangeLength">身份证号长度为18位</span>
        </div>
      </div>
      <div class="form-group">
        <label for="addRemark">备注:</label>
        <input type="text"  class="form-control" formControlName="remark" id="addRemark" placeholder="备注为非必填项">
      </div>
    </form>
    <div class="clearfix"></div>
    <br>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="prolineAdd(); modalRef.hide()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
<!--修改人员模态框-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">人员修改</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="prolineModifyForm">
      <div class="form-group" [ngClass]="{'has-error': prolineModifyForm.get('name').invalid && (prolineModifyForm.get('name').dirty || prolineModifyForm.get('name').touched)}">
        <label for="updateName">姓名:</label>
        <input type="text" class="form-control" formControlName="name" id="updateName">
        <div class="text-danger" *ngIf="prolineModifyForm.get('name').invalid && (prolineModifyForm.get('name').dirty || prolineModifyForm.get('name').touched)">
          <span *ngIf="prolineModifyForm.get('name').errors?.required">姓名为必填项</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': prolineModifyForm.get('name').invalid && (prolineModifyForm.get('name').dirty || prolineModifyForm.get('name').touched)}">
        <label for="updatePhone">电话:</label>
        <input type="text" class="form-control" formControlName="phone" id="updatePhone">
        <div class="text-danger" *ngIf="prolineModifyForm.get('phone').invalid && (prolineModifyForm.get('phone').dirty || prolineModifyForm.get('phone').touched)">
          <span *ngIf="prolineModifyForm.get('phone').errors?.required">编号为必填项</span>
          <span *ngIf="prolineModifyForm.get('phone').errors?.name">手机号码为数字</span>
          <span *ngIf="prolineModifyForm.get('phone').errors?.rangeLength">手机号码为11位</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': prolineModifyForm.get('name').invalid && (prolineModifyForm.get('name').dirty || prolineModifyForm.get('name').touched)}">
        <label for="updateCard">身份证:</label>
        <input type="text" class="form-control" formControlName="card" name="card" id="updateCard">
        <div class="text-danger" *ngIf="prolineModifyForm.get('card').invalid && (prolineModifyForm.get('card').dirty || prolineModifyForm.get('card').touched)">
          <span *ngIf="prolineModifyForm.get('card').errors?.required">身份证号为必填项</span>
        </div>
      </div>
      <div class="form-group" >
        <label for="updateRemark">备注:</label>
        <input type="text"  class="form-control" formControlName="remark" id="updateRemark" placeholder="备注为非必填项">
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="prolineModify(); modalRef.hide()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
