<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="title">
        <i class="fa fa-navicon"></i>
      </div>
      <div class="user pull-right">
        <div class="user-admin" (click)="troggleInfo()">欢迎您，管理员</div>
        <div class="user-photo">
          <!--<img class="rounded-circle" src="../../../assets/Nasta.png" alt="">-->
          <div class="user-photo-toggle" [hidden]="infoToggle">
            <ul class="list-group">
              <li class="list-group-item" (click)="openProLineAdd(add)">
                <i class="fa fa-key" aria-hidden="true"></i>
                <span>密码修改</span>
              </li>
              <li class="list-group-item" [routerLink]="['/login']">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>退出</span>
              </li>
            </ul>
          </div>
        </div>
      <!--  <div class="user-remind" (click)="onScrollToggle($event)">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <div class="user-remind-top">
            <span>5</span>
          </div>
          &lt;!&ndash;<div class="user-remind-circle"></div>&ndash;&gt;
        </div>
        <div  class="user-remind-scroll" [hidden]="scrollToggle">
          <div class="user-remind-scroll-h4">
            <span class="pull-left">信息通知</span>
            <span class="pull-right" (click)="onScrollToggle($event)">关闭</span>
            <div class="cl"></div>
          </div>
          <div class="user-remind-scroll-content" #userRemindScrollContent>
            <div class="scroll-box" #scrollBox>
              <div class="scroll-box-bar" #scrollBoxBar [ngStyle]="{height: '30px'}"></div>
            </div>
            <ul class="list-group" #scrollListGroup>
              <li class="list-group-item list-group-item-danger">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>故障！一号仓库电机组出现故障！</span>
                <span class="text-timer">1分钟前</span>
              </li>
              <li class="list-group-item list-group-item-success">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>操作：生产订单添加成功</span>
                <span class="text-timer">3分钟前</span>
              </li>
              <li class="list-group-item list-group-item-warning">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>警告！油漆数量不足！</span>
                <span class="text-timer">5分钟前</span>
              </li>
              <li class="list-group-item list-group-item-danger">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>故障！一号仓库电机组出现故障！</span>
                <span class="text-timer">1分钟前</span>
              </li>
              <li class="list-group-item list-group-item-success">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>操作：生产订单添加成功</span>
                <span class="text-timer">3分钟前</span>
              </li>
              <li class="list-group-item list-group-item-warning">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>警告！油漆数量不足！</span>
                <span class="text-timer">5分钟前</span>
              </li>
              <li class="list-group-item list-group-item-danger">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>故障！一号仓库电机组出现故障！</span>
                <span class="text-timer">1分钟前</span>
              </li>
              <li class="list-group-item list-group-item-success">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>操作：生产订单添加成功</span>
                <span class="text-timer">3分钟前</span>
              </li>
              <li class="list-group-item list-group-item-warning">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>警告！油漆数量不足！</span>
                <span class="text-timer">5分钟前</span>
              </li>
              <li class="list-group-item list-group-item-danger">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>故障！一号仓库电机组出现故障！</span>
                <span class="text-timer">1分钟前</span>
              </li>
              <li class="list-group-item list-group-item-success">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>操作：生产订单添加成功</span>
                <span class="text-timer">3分钟前</span>
              </li>
              <li class="list-group-item list-group-item-warning">
                <img class="rounded-circle-img" src="../../../assets/images/Nasta.png" alt="">
                <span>警告！油漆数量不足！</span>
                <span class="text-timer">5分钟前</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="user-set">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </div>-->
      </div>
    </div>
  </div>
</nav>
<!--增加人员模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">密码修改</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="prolineAddForm">
      <div class="form-group" [ngClass]="{'has-error': prolineAddForm.get('password').invalid && (prolineAddForm.get('password').dirty || prolineAddForm.get('password').touched)}">
        <label for="password">请输入新密码:</label>
        <input type="text" class="form-control" formControlName="password" id="password">
        <div class="text-danger" *ngIf="prolineAddForm.get('password').invalid && (prolineAddForm.get('password').dirty || prolineAddForm.get('password').touched)">
          <span *ngIf="prolineAddForm.get('password').errors?.required">编号为必填项</span>
          <span *ngIf="prolineAddForm.get('password').errors?.minlength">编号长度为6位</span>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <br>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="prolineAdd(); modalRef.hide()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        取消
      </button>
    </div>
    <br>
  </div>
</ng-template>
